@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  --background: #021e2b;
  --secondary: #102733;
  --main: #71f6ba;
  --gray: #3d4f58;
  height: 100%;
  width: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}

.main_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    background: var(--background);
}

.main_container .left_container {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
}

.main_container .right_container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 3vw;
}

.main_container .navbar_container {
    height: 10%;
    width: 100%;
    background: var(--main);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
}

.main_container .sidebar_container {
    height: 90%;
    width: 100%;
    padding: 1.5vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
    gap: 4vh;
}

.new_connection_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1vh;
}

.new_connection_container .split_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.new_connection_container .main_container { 
    border: 0.2vh solid var(--gray);
    width: 100%;
    height: 50%;
    border-radius: 2.5vh;
    overflow: hidden;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.new_connection_container .heading {
    color: white;
    font-weight: 500;
    font-size: 3vh;
    width: 100%;
    text-align: left;
}

.new_connection_container .split_section .left {
    height: 100%;
    width: 49%;
}

.new_connection_container .split_section .right {
    height: 100%;
    width: 49%;
}

.new_connection_container .split_section .right .main_container {
    align-items: flex-end;
}

.new_connection_container .split_section .right .main_container .icon {
    font-size: 4vh;
    color: white;
    text-align: center;
}

.new_connection_container .split_section .right .main_container .text {
    font-size: 2vh;
    color: white;
    text-transform: uppercase;
}

.new_connection_container .sub_heading {
    color: white;
    text-align: left;
    font-weight: normal;
    font-size: 1.3vh;
    width: 100%;
}

.new_connection_container .split_section {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new_connection_container .content_container {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 100%;
    height: 15vh;
    border-radius: 1vh;
    background: var(--gray);
    padding-top: 1vh;
    padding-left: 1vh;
    font-size: 2vh;
    color: white;
    margin-top: 1vh;
}

.new_connection {
    width: 100%;
    height: 5vh;
    display: flex;
    gap: 0.6vw;
    align-items: center;
    justify-content: center;
    background: var(--gray);
    border: 0.2vw solid #889397;
    border-radius: 1.2vh;
    cursor: pointer;
}

.sidebar_container .connections { 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 1vh;
}

.sidebar_container .connections .connection {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
    padding: 0 1.5vw;
}

.sidebar_container .connections .connection .icon {
    font-size: 3vh;
}

.new_connection_container .content_container label{
    color: white;
    text-align: left;
    width: 100%;
}


.sidebar_container .connections .connection .text {
    font-size: 2vh;
    color: white;  
    font-weight: 500;
}

.icon {
    cursor: pointer;
}