#root {
  --background: #021e2b;
  --secondary: #102733;
  --main: #71f6ba;
  --gray: #3d4f58;
  height: 100%;
  width: 100%;
}

* {
    box-sizing: border-box;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
}

.main_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0;
    background: var(--background);
}

.main_container .left_container {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
}

.main_container .right_container {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 3vw;
}

.main_container .navbar_container {
    height: 10%;
    width: 100%;
    background: var(--main);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
}

.main_container .sidebar_container {
    height: 90%;
    width: 100%;
    padding: 3vw 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: white;
}

.new_connection_container { 
    border: 0.2vh solid var(--gray);
    width: 100%;
    height: 50%;
    border-radius: 2.5vh;
    overflow: hidden;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.new_connection_container .split_section {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new_connection_container .content_container {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    width: 100%;
    height: 15vh;
    border-radius: 2.5vh;
    background: var(--gray);
    padding-top: 1vh;
    padding-left: 1vh;
    font-size: 3vh;
    color: white;
}